<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DemoProj</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home"></span> Home
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="SRS">
                <span class="oi oi-list-rich"></span> SRS
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="incidentdetails">
                <span class="oi oi-list-rich"></span> INCIDENT
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employeePersonalInjury">
                <span class="oi oi-list-rich"></span> EMPLOYEE PERSONAL INJURY
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nonEmployeePersonalInjury">
                <span class="oi oi-list-rich"></span>NON-EMPLOYEE PERSONAL INJURY
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="euipmentDamage">
                <span class="oi oi-list-rich"></span>EUIPMENT DAMAGE
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
